<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nogemasa.management.mapper.goods.PriceMapper">
    <resultMap id="price" type="PricePojo">
        <id property="sid" column="sid"/>
        <result property="price" column="price"/>
        <association property="store" column="store_sid"
                     select="com.nogemasa.management.mapper.store.StoreMapper.loadStoreBySid"/>
        <association property="goods" column="goods_sid"
                     select="com.nogemasa.management.mapper.goods.GoodsMapper.getGoodsBySid"/>
    </resultMap>
    <insert id="addPricePojo" useGeneratedKeys="true" keyProperty="sid">
        INSERT INTO c_price (store_sid, goods_sid, price)
        VALUES (#{store.sid}, #{goods.sid}, ${price})
    </insert>
    <update id="updatePricePojo">
        UPDATE c_price
        SET price = ${price}
        WHERE store_sid = #{storeSid} AND goods_sid = #{goodsSid}
    </update>
    <select id="getGoodsPrice" resultMap="price">
        SELECT *
        FROM c_price
        WHERE goods_sid = (SELECT sid
                           FROM c_goods
                           WHERE sn = #{goodsSn})
              AND store_sid = #{storeSid}
    </select>
    <select id="getPriceListByGoodsSid" resultMap="price">
        SELECT *
        FROM c_price
        WHERE goods_sid = #{goodsSid}
    </select>
</mapper>