<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">
    <!-- 签名验证切面bean -->
    <bean id="signatureAspect" class="com.nogemasa.signature.agent.aspect.SignatureVerifyAspect">
        <constructor-arg name="publicKeyPath" value="${public.key.path}"/>
    </bean>
    <aop:config proxy-target-class="true">
        <aop:pointcut id="signatureVerifyService"
                      expression="@annotation(com.nogemasa.signature.agent.annotation.SignatureVerifyService)"/>
        <!-- 签名切面 -->
        <aop:aspect order="0" ref="signatureAspect">
            <aop:around method="signatureVerify" pointcut-ref="signatureVerifyService"/>
        </aop:aspect>
    </aop:config>
</beans>
